
body{
	font-family: sans-serif;
	font-size: 0.9em;
	font-weight: bold;
}

#character_sheet{
    width: 1000px;
    height: auto;
	display: block;
}

#topleft{
	position:absolute;
	top: 0px;
	left: 0px;
	width: 500px;
	height: 647px;
}

#topright{
	position:absolute;
	top: 0px;
	left: 500px;
	width: 500px;
	height: 647px;
}

#bottomleft{
	position:absolute;
	top: 647px;
	left: 0px;
	width: 500px;
	height: 647px;
}

#bottomright{
	position:absolute;
	top: 647px;
	left: 500px;
	width: 500px;
	height: 647px;
}


#swordType0, #swordType1, #swordType2, #swordType3{
    position: absolute;
    top: 80px;
    left: 45px;
	font-size: 1.2em;
}


#swordAlignment0, #swordAlignment1, #swordAlignment2, #swordAlignment3{
    position: absolute;
    top: 118px;
    left: 40px;
}



#swordIntelligence0, #swordIntelligence1, #swordIntelligence2, #swordIntelligence3{
    position: absolute;
    top: 118px;
    left: 113px;
}



#swordCommunication0, #swordCommunication1, #swordCommunication2, #swordCommunication3{
    position: absolute;;
    top: 118px;
    left: 215px;
}



#swordSpecialPurpose0, #swordSpecialPurpose1, #swordSpecialPurpose2, #swordSpecialPurpose3{
    position: absolute;
    top: 160px;
    left: 35px;
	width:420px;
	font-size: 0.85em;
}

#specialPurposeTitle0, #specialPurposeTitle1, #specialPurposeTitle2, #specialPurposeTitle3{
    left: 245px;
	font-size: 1em;
}


#swordBane0, #swordBane1, #swordBane2, #swordBane3{
    position: absolute;
    top: 300px;
    left: 45px;
	width:420px;
	font-size: 0.85em;
}

.baneEffect{
	font-weight: normal;
}



#dieRoll0, #dieRoll1, #dieRoll2, #dieRoll3{
    position: absolute;
    top: 60px;
    left: 410px;
	font-size: 2.2em;
}